.like-link{
  float: left;
}
.iine__button{
  background: $light-bulue;
  line-height: 42px;
  color: $white;
  font-size: 14px;
  display: inline-block;
  padding: 0 18px;
  border-radius: 100px;
  font-weight: bold;
}